{% extends "master_dashboard.html" %}
{% block additional_styles %}
        <link href="{{ url_for('static', filename='dist/theme/mermaid.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block main_tag %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Les Etudiants Inscris dans la formation {{ formation }}</h4>
                </div>
                <div class="card-body">
                    <div id="table"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/gridjs.umd.js') }}"></script>
    <script>

    </script>
{% endblock %}