{% extends "user_layout.html" %}
{% block additional_styles %}
    <link href="{{ url_for('static', filename='dist/theme/mermaid.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block main_tag %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Les inscriptions</h4>
                </div>
                <div class="card-body">
                    <div id="table"></div>
{#                    <span style="color: #004D33; font-weight: bold;">azeazeazeaeaze</span>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/gridjs.umd.js') }}"></script>
    <script>

          new gridjs.Grid({
            autoWidth:true,
            fixedHeader:true,
            style:{
                table:{
                    'width':"100%"
                }
            },
              language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage...',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Ancun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
              { id: 'id', name: '#' },
              { id: 'label', name: 'Titre' },
              { id: 'status', name: 'Status' },
                {id:"note", name: "Remarque"},
                {id:'actions',name:'Actions'}
            ],
            data: () => { return new Promise(resolve => {

                setTimeout(()=>
                    resolve([
                      {% for course in courses %}
                        {
                          id: '{{ course["id"] }}',
                          label: '{{ course["label"] }}',
                          status:  gridjs.html(`{% if course["status"] == -1%} <span class="badge rounded-pill" style="text-color:black; background-color:#E06000;">En attente</span> \
                                                {%elif course["status"] == 1%} <span class="badge rounded-pill" style="text-color:white; background-color:#004D33;">admis</span> \
                                                {%else%} <span class="badge rounded-pill" style="text-color:white; background-color:#A6001A;">non admis</span> \
                                                {% endif %}`),
                            note:gridjs.html(`{% if course['note'] %}
                                                    <span class="badge rounded-pill"
                                                      style="{% if course['status'] == 1 %}background-color: #004D33
                                                             {% else %}background-color:#A6001A;"
                                                             {% endif %}; font-weight: bold;">{{ course['note'] }}</span>
                                              {% endif %}`),
                          actions: gridjs.html(`
                            <a role="btn" class="btn btn-sm btn-secondary" href="{{ url_for('user_bp.print_receipt',
                                            receipt_id=course['payment_receipt'])}}">Imprimer le Reçu de paiement</a>
                          `)
                        },
                      {% endfor %}
                    ])
                ,2000);
            })},
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2, 3].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>

{% endblock %}